<div class="container">
  <div class="jumbotron">
      <h1>Concejo Deliberante San José de Metán</h1> 
      <p>Creamos esta página con el objetivo mantener la transparencia de la gestión de nuestro Concejo Deliberante.</p>
      <p>Esta es la página que verá el usuario al inicio de su navegación. Se agregarán imágenes y diseño en las próximas entregas.</p>       
    </div>
  <div class="row">
    <div class="col-sm-8">
   		<h2>¿Cuál es el propósito del Concejo Deliberante?</h2>
		<p><b>¿ Qué es y pará que sirve un Concejo Deliberante Municipal?</b></p>
   		<p class="text-justify">
   			Ut posuere justo a porta consequat. Fusce in facilisis mauris. Maecenas vel vulputate libero. Duis ornare non lacus sit amet condimentum. Cras blandit nibh sit amet purus euismod, id dignissim purus maximus. Integer vulputate vulputate varius. Cras nisi tortor, vulputate ac tortor non, feugiat placerat metus. Cras ac massa tempor, egestas magna eu, iaculis velit. Cras et enim vel turpis finibus aliquam. Phasellus id pulvinar lorem.
   		</p>
   		<p class="text-justify">
   			Aliquam ligula elit, pharetra ac odio non, porttitor auctor ipsum. Ut fermentum erat eu erat porttitor, sed ultricies odio ultrices. Curabitur tortor est, consectetur sed laoreet pellentesque, ornare nec arcu. Aenean iaculis sed dolor in tristique. Aliquam placerat risus at magna pharetra elementum. Sed est nisl, rhoncus eget sodales vel, suscipit ac nisi. Nam tristique nisl id elit commodo malesuada. Curabitur non nunc ligula. Integer id augue volutpat felis imperdiet tristique. Nulla facilisi. Nunc nec ligula vitae leo condimentum ultricies. In aliquet ipsum vestibulum magna maximus volutpat. Praesent vel pharetra dolor. Aenean iaculis imperdiet mollis. Nam rutrum tellus ac justo consectetur, in cursus leo imperdiet.
   		</p>
    </div>
    <div class="col-sm-4">
    	<div class="alert alert-info" role="alert">
  			<p class="text-justify">
				Aquí habrán links a páginas externas y números útiles para el vecino. (Links a la muni, teléfonos de entidades gubernamentales, emergencias, violencia de género y demás.)
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean rhoncus ultricies ex, nec fringilla felis volutpat pharetra. Cras lacinia egestas erat molestie aliquam. 
				<p><a href="#" class="btn btn-primary btn-lg">Link Importante</a></p>
				Donec porta libero non bibendum sodales. Sed vel nisi laoreet, iaculis dolor a, mollis erat. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Proin laoreet pharetra dolor a auctor. Nam sed neque eget arcu ullamcorper efficitur vitae vel massa. Sed ultrices, libero nec convallis finibus, libero magna lobortis ex, ut fermentum justo lectus. Fusce a purus vitae nulla viverra dignissim.
  			</p>
		</div>
    </div>
  </div>
</div>

