<div class="container">
  <div class="jumbotron">
      <h1>Concejo Deliberante San José de Metán</h1> 
      <p>Creamos esta página con el objetivo mantener la transparencia de la gestión de nuestro concejo.</p>
      <p>A continuación usted podrá ingresar al digesto donde tenemos cargadas las ordenanzas, declaraciones y resoluciones emitidas por este cuerpo desde el año 2016.</p>
      <a href="#" class="btn btn-primary btn-lg">Digesto</a>       
    </div>
  <div class="row">
    <div class="col-sm-8">
   		<h2>¿Cuál es el propósito del Concejo Deliberante?</h2>
		<p>¿ Qué es y pará que sirve un Concejo Deliberante Municipal?.</p>
   		<p class="text-justify">
   			Ut posuere justo a porta consequat. Fusce in facilisis mauris. Maecenas vel vulputate libero. Duis ornare non lacus sit amet condimentum. Cras blandit nibh sit amet purus euismod, id dignissim purus maximus. Integer vulputate vulputate varius. Cras nisi tortor, vulputate ac tortor non, feugiat placerat metus. Cras ac massa tempor, egestas magna eu, iaculis velit. Cras et enim vel turpis finibus aliquam. Phasellus id pulvinar lorem.
   		</p>
   		<p class="text-justify">
   			Aliquam ligula elit, pharetra ac odio non, porttitor auctor ipsum. Ut fermentum erat eu erat porttitor, sed ultricies odio ultrices. Curabitur tortor est, consectetur sed laoreet pellentesque, ornare nec arcu. Aenean iaculis sed dolor in tristique. Aliquam placerat risus at magna pharetra elementum. Sed est nisl, rhoncus eget sodales vel, suscipit ac nisi. Nam tristique nisl id elit commodo malesuada. Curabitur non nunc ligula. Integer id augue volutpat felis imperdiet tristique. Nulla facilisi. Nunc nec ligula vitae leo condimentum ultricies. In aliquet ipsum vestibulum magna maximus volutpat. Praesent vel pharetra dolor. Aenean iaculis imperdiet mollis. Nam rutrum tellus ac justo consectetur, in cursus leo imperdiet.
   		</p>
    </div>
    <div class="col-sm-4">
    	<div class="alert alert-info" role="alert">
  			<p class="text-justify">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean rhoncus ultricies ex, nec fringilla felis volutpat pharetra. Cras lacinia egestas erat molestie aliquam. Donec porta libero non bibendum sodales. Sed vel nisi laoreet, iaculis dolor a, mollis erat. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Proin laoreet pharetra dolor a auctor. Nam sed neque eget arcu ullamcorper efficitur vitae vel massa. Sed ultrices, libero nec convallis finibus, libero magna lobortis ex, ut fermentum justo lectus. Fusce a purus vitae nulla viverra dignissim.
  			</p>
		</div>
    </div>
  </div>
</div>

<footer class="bg-dark text-center text-white">
  <!-- Grid container -->
  <div class="container p-4 pb-0">
    <section class="mb-4">
    	<p>Dirección: Suiza 207 - San José de Metán CP:4440</p>
    	<p>Teléfono de Contacto: 3876 420889</p>
    </section>    
  </div>
  
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2021 Copyright:
    <a class="text-white" href="https://facebook.com/cdeliberantesjmetan">Concejo Deliberante San José de Metán</a>
  </div>
</footer>