<div class="container">
	<div class="row">
	    <div class="col-sm-12">
	    	<h1>Digesto</h1>
	    	<p class="text-justify">
	    		Aliquam ligula elit, pharetra ac odio non, porttitor auctor ipsum. Ut fermentum erat eu erat porttitor, sed ultricies odio ultrices. Curabitur tortor est, consectetur sed laoreet pellentesque, ornare nec arcu. Aenean iaculis sed dolor in tristique. Aliquam placerat risus at magna pharetra elementum. Sed est nisl, rhoncus eget sodales vel, suscipit ac nisi. Nam tristique nisl id elit commodo malesuada. Curabitur non nunc ligula. Integer id augue volutpat felis imperdiet tristique. Nulla facilisi. Nunc nec ligula vitae leo condimentum ultricies. In aliquet ipsum vestibulum magna maximus volutpat. Praesent vel pharetra dolor. Aenean iaculis imperdiet mollis. Nam rutrum tellus ac justo consectetur, in cursus leo imperdiet.
   			</p>
   			<p class="text-justify">
   				Pharetra ac odio non, porttitor auctor ipsum. Ut fermentum erat eu erat porttitor, sed ultricies odio ultrices. Curabitur tortor est, consectetur sed laoreet pellentesque, ornare nec arcu. Aenean iaculis sed dolor in tristique. Aliquam placerat risus at magna pharetra elementum. Sed est nisl, rhoncus eget sodales vel, suscipit ac nisi. Nam tristique nisl id elit commodo malesuada. Curabitur non nunc ligula. Integer id augue volutpat felis imperdiet tristique. Nulla facilisi. Nunc nec ligula vitae leo condimentum ultricies. In aliquet ipsum vestibulum magna maximus volutpat. Praesent vel pharetra dolor. Aenean iaculis imperdiet mollis. Nam rutrum tellus ac justo consectetur, in cursus leo imperdiet.
   			</p>
   			
	    </div>
	</div>
</div>
